@import './common.scss';

// admin
@import './admin/sidebar.scss';
@import './admin/subscriber.scss';
@import './admin/email.scss';
@import './admin/new_mail.scss';
@import './admin/subscriber.scss';
@import './admin/subscriber.scss';
@import './admin/common.scss';
@import './admin/file_upload.scss';
@import './admin/login.scss';
@import './admin/dashboard.scss';
@import './admin/newsfeed.scss';

// main
@import './main/about.scss';
@import './main/big.scss';
@import './main/get_started.scss';

.index {
    margin-top: $big-menubar-height;
}
html,body{
    overflow-x: hidden;
    width: 100vw;
}
button{
    cursor: pointer !important;
}