// fonts
// @import url('https://fonts.googleapis.com/css?family=Oswald:700|Raleway');
@font-face{
    font-family: 'oswald';
    src: url('../assets/futura.ttf');
}
@font-face{
    font-family: 'raleway';
    src: url('../assets/nexa.otf');
}
@font-face{
    font-family: 'nexa-bold';
    src: url('../assets/Nexa\ Bold.otf');
}


// common
@import './common.scss';
// admin
@import './admin/sidebar.scss';
@import './admin/subscriber.scss';
@import './admin/email.scss';
@import './admin/new_mail.scss';
@import './admin/subscriber.scss';
@import './admin/subscriber.scss';
@import './admin/common.scss';
@import './admin/file_upload.scss';
@import './admin/login.scss';
@import './admin/dashboard.scss';
@import './admin/newsfeed.scss';
@import './admin/send_mail.scss';
// main
@import './main/resources.scss';
@import './main//gstlinks.scss';
@import './main/contactus.scss';
@import './main/aboutus.scss';
@import './main/cover.scss';
@import './main/navbar.scss';
@import './main/common.scss';
@import './main/subscribe.scss';
@import './main/values.scss';
@import './main/footer.scss';
@import './main/history.scss';
@import './main/news.scss';
@import './main/services.scss';
@import './main/clients.scss';
@import './main/cookie.scss';
@import './main/recruitment.scss';
@import './main/job.scss';
@import './main/chat.scss';

// anime
@import './main/anime.css';

.index {
    margin-top: $big-menubar-height;
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
}

button {
    cursor: pointer !important;
}

.main {
    button:disabled {
        background: green;
    }
}

a {
    text-decoration: none !important;
}