$blue: blue;
$active-menu-link: #007aee;

$blue: blue;
$active-menu-link: #007aee;
// sidebar
$sidebg: #2e2736;
$icons: #a5a4bf;
$activelink: #393241;
// subscribers
$bg: #f9f9f9;
$pcircle : #11ff00;
$theadcolor: rgba(0, 255, 0, 0.301);

$green: green;
$lgreen:#54d1276b;

$red: #ff0000;
$lred: #e289898f;

$lblue: rgba(135, 207, 235, 0.616);

$pink: rgb(247, 0, 255);
$lpink: rgba(255, 0, 255, 0.192);

.blue:hover {
    color: $blue;
    background: $lblue;
}
.green:hover {
    color: $green;
    background: $lgreen;
}
.red:hover {
    color: $red;
    background: $lred;
}

.yellow:hover {
    color: $pink;
    background: $lpink;
}

//metrics
$big-menubar-height: 80px;
$big-menubar-zindex: 100;
$mobile-break-point: 800px;

// metrics
$sidebarLen: 250px;
$border: #EFF1F3;

// admin-colors.
.admin-orange{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.admin-green{
    background: linear-gradient(60deg, #66bb6a, #43a047);
}
.admin-red{
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.admin-sky-blue{
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

// main site
$section-pad: 70px 0;

// box shadows
$nav-box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);

// theme color
$tcolor: #a7cb00;