.tab {
    background: white;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 12px -5px black;
    border-radius: 10px;
}

.nbtn {
    padding: 3px 5px;
    box-shadow: none !important;
    border-radius: 45%;
    border: none;
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    outline: none;
    box-shadow: none;
}

.active-tab{
    background: skyblue;
}

.progress {
    width: 300px;
    transition: opacity 2s ease;
}

.hide-progress {
    opacity: 0.5;

    .progress-bar {
        width: 100%;
    }
}

.admin{
    background: #f9f9f9;
    min-height: 100vh;
}