.emails {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    background: $bg;

    .delete:hover {
        color: $red;
        background: $lred;
    }

    .edit:hover {
        color: $blue;
        background: $lblue;
    }

    .email {
        background: white;
        padding: 15px;
        margin-bottom: 10px;
        box-shadow: 3px 3px 15px -5px black;
        border-radius: 10px;

        div,
        a {
            margin: 0 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .srno {
            width: 50px;
        }

        .subject{
            min-width: 100px;
            overflow: hidden;
        }
        .date{
            font-size: 12px;
            color: #aaa;
            align-self: flex-end;
        }

        button {
            padding: 3px 5px;
            margin: 0 10px;
            box-shadow: none;
            border-radius: 45%;
            border: none;
            display: flex;
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-content: center;
            outline: none;
        }
    }
}