.emails{
    @media(max-width: $mobile-break-point){
        .date{
            display: none;
        }
        .subject{
            white-space: nowrap;
            overflow: hidden;
            // max-width: 50vw;
        }
    }
}