.fileUpload {
    .progress {
        width: 300px;
        transition: opacity 2s ease;
    }

    .badge {
        a{
            color: white;
        }
    }

    .hide-progress {
        opacity: 0.5;

        .progress-bar {
            width: 100%;
        }
    }
}