.sidebar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: $sidebg;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    // box-shadow: 0px 0px 20px black;

    * {
        display: inline-block;
    }
    i {
        padding-right: 50px;
        color: $icons;
        width: 50px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .active{
        background: $activelink;
    }
    .link{
        padding: 10px 0px 10px 65px;
    }
}