.admin {
    padding: 5px;
    padding-top: 60px;
    @media(min-width: $mobile-break-point) {
        margin-top: 0;
        margin-left: 40px;
        padding: 40px 40px 40px $sidebarLen;
    }
}

.sidebar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    transition: all 200ms ease;
    height: 55px;
    overflow: none;
    i{
        color: $icons;
    }
    .active {
        background: $activelink;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .link {
        display: block;
        width: $sidebarLen;
        padding: 10px;
        margin: auto;
        i {
            display: none;
        }
    }
    button {
        background: inherit;
        border: none;
        cursor: pointer;
        outline: none !important;
    }
    .contents {
        opacity: 0;
        margin-top: 50px;
        transform: translate(-200%);
    }
    .close-sidebar-btn {
        padding: 10px 20px;
        i {
            color: black;
        }
    }
    @media(min-width: $mobile-break-point) {
        width: $sidebarLen;
        text-align: left;
        background: $sidebg;
        height: 100vh;
        .close-sidebar-btn {
            display: none;
        }
        .admin-logo {
            text-align: center;
        }
        .link i {
            padding: 0 30px;
            display: inline;
        }
        .contents {
            opacity: 1;
            margin-top: 30px;
            transform: none;
        }
    }
}

.sidebar-open {
    height: 100vh;
    background: $sidebg;
    .close-sidebar-btn {
        i {
            color: $icons;
        }
    }
    .contents {
        opacity: 1;
        transform: none;
    }
}