.admin {
    padding-left: 0;
    margin-top: 60px;
    @media(min-width: 900px) {
        padding-left: $sidebarLen;
        margin-top: 0;
    }
}

.sidebar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: $sidebg;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    i {
        color: $icons;
    }
    .active {
        background: $activelink;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .link {
        display: block;
        width: $sidebarLen;
        padding: 10px;
        margin: auto;
        i {
            display: none;
        }
    }
    button {
        background: inherit;
        border: none;
        cursor: pointer;
        outline: none !important;
    }

    @media(min-width: 900px){
        width: $sidebarLen;
        text-align: left;
        
        .close-sidebar-btn{
            display: none;
        }
        .admin-logo{
            text-align: center;
        }
        .link i{
            padding: 0 30px;
            display: inline;
        }
    }
}

// .sidebar {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 20px;
//     background: $sidebg;
//     position: fixed;
//     height: 100vh;
//     width: 100%;
//     top: 0;
//     left: 0;
//     z-index: 100;
//     text-align: center;
//     * {
//         display: inline-block;
//     }
//     a {
//         color: white;
//         text-decoration: none;
//     }
//     .active {
//         background: $activelink;
//     }
//     .close-sidebar-btn {
//         background: inherit;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         padding: 15px 20px;
//     }
//     i {
//         color: $icons;
//     }
//     .link {
//         padding: 10px 0px 10px;
//         i {
//             display: none;
//         }
//     }
//     @media(min-width: 800px) {
//         width: $sidebarLen;
//         text-align-last: left;
//         .close-sidebar-btn {
//             display: none;
//         }
//         .link {
//             padding: 10px 0px 10px 35px;
//             i {
//                 padding-right: 50px;
//                 width: 50px;
//                 display: inline-block;
//             }
//         }
//     }
// }