.subscribers {
    .group-name{
        cursor: pointer;
        &:hover,
        &:focus{
            font-weight: bold;
        }
    }

    .tab_input{
        border: none;
        width: 100%;
        outline: none;
        // border-bottom: 2px solid rgb(224, 224, 224);
        // &:focus{
        //     border-bottom: 2px solid blue;
        // }
    }

    .tab_input_sm{
        width: auto;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
        display: block;
        text-align: center;
        &:focus{
            border-bottom: 2px solid skyblue;
        }
    }

    .active-sub {
        .face{
            color: $green;
        }
        button:hover{
            color: $red;
            background: $lred;
        }
    }

    .inactive-sub {
        .face{
            color: $red;
        }
        button:hover{
            color: $green;
            background: $lgreen;
        }
    }
    
}