.aboutus {
    padding: $section-pad;
    #read_more {
        background: black;
        border-radius: 5px;
        color: white;
        padding: 3px 10px;
        border: none;
        outline: none;
    }
    .client-pic {
        height: 200px;
        width: 200px;
        background: url('../assets/jkgupta.jpeg') top center;
        background-size: cover;
        border-radius: 50%;
    }
    @media(max-width: $md-brk) {
        padding: $spad-sm;
    }
}