footer {
    color: #ddd;
    .flinks{
        user-select: none;
        cursor: pointer;
    }
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
    #info{
        padding: 40px 0 20px;
        background: #242424;
    }
    #rights{
        background: #161616;
        padding: 10px 0;
    }
    h4{
        font-family: Oswald, sans-serif;
        border-bottom: 1px solid white;
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 10px;
        color: white;
    }
    .col-md-3 div{
        margin-top: 5px;
    }
    button{
        border: none;
        background: $tcolor;
        padding: 5px 10px;
        margin-top: 10px;
        font-weight: bold;
    }
    .footer_sub_link a{
        padding: 5px 10px;
        width: 100px;
        color: black !important;
        user-select: none;
        cursor: pointer;
        text-align: center;
        border-radius: 2px;
        background: yellowgreen;
    }
    @media(max-width: $md-brk) {
        #info{
            padding: 5px 0 10px;
        }
        .row{
            >div{
                margin-top: 15px;
            }
        }
        #fnav{
            display: none;
        }
    }
}   