.get-started {
    .brief {
        line-height: 25px;
        letter-spacing: 1px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 12px 22px;
        border-radius: 50px;
        background: #000;
    }

    .cover-img {
        background: url('../assets/home-img.jpg');
        background-size: cover;
        z-index: 0;

        div {
            opacity: 0;
        }

        min-height: calc(100vh - #{$big-menubar-height});
        height: clac(100vh);
    }
}