#history {
    text-align: justify;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        width: 50%;
        transform: translateX(100%);
        border-left: 2px solid black;
        div {
            padding: 30px; // background: red;
            margin: 0 15px; // border: 1px dashed black;
        }
        &::before {
            content: '';
            height: 16px;
            width: 16px;
            background: #000;
            position: absolute;
            top: 50%;
            left: -9px;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(2n) {
            transform: none;
            border-left: none;
            border-right: 2px solid black;
            transform: translateX(2px);
            &::before {
                display: none;
            }
            &::after {
                content: '';
                height: 16px;
                width: 16px;
                background: #000;
                position: absolute;
                top: 50%;
                right: -9px;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }
}