.news_main{
    padding: $section-pad;
    .ms_news {
    padding: 40px; 
    box-shadow: 0px 0px 15px -5px black;
    // border: 2px solid black;
    display: flex;
    img {
        width: 100%;
        max-width: 300px;
        max-height: 250px;
        margin-right: 40px;
    }
}
}