#news {
    .wrapper{
        overflow: hidden;
        margin: 8px;
        padding: 5px;
    }
    .news_obj {
        border-radius: 3px;
        display: flex;
        background: white; 
        // border: 1px dashed black;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    }
    img {
        width: 250px;
        height: 250px;
    }
    .info{
        padding: 15px;
    }
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;     /* fallback */
        max-height: 140px;      /* fallback */
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    h4 {
        display: flex;
        text-transform: uppercase;
        font-size: 18px;
        flex-wrap: wrap;
        align-items: center;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;     /* fallback */
        max-height: 40px;      /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    @media(max-width: 1000px){

    }
}