.services{
    .head{
        margin: auto;
        max-width: 600px;
        text-align: center;
        h3{
            font-size: 20px;
            font-family: nexa-bold;
            color: #0016db;
            transform: translateY(-13px);
            background: white;
            display: inline-block;
            padding: 0 10px;
        }
        .spark{
            border: 1px solid #dddddd;      
        }  
    }

    .service{
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        text-align: center;
        line-height: 15px;
        font-weight: bold;
        font-size: 14px;
        margin: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        img{
            width: 250px;
            height: 180px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        i{
            color: #0016db;
        }
        .name{
            margin: 10px;
            font-weight: bold;
        }
        &:hover {
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.26);
            transform: scale(1.1);
        }
    }
    
    .services_list{
        // max-width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    }
}