.values{
    background: #f2f2f2;
    padding: $section-pad;
    .value{
        padding: 20px 40px;
        transition: all 0.5s ease;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid black;
        }
        h3{
            text-align: center;
            font-size: 23px;
        }
        p{
            text-align: justify;           
            margin-top: 1.5em; 
        }
    }
}

.clr-yg{
    color: yellowgreen;
}