<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JK Gupta</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-content: center;
            min-height: 90vh;
        }
        h1{
            align-self: center;
        }
    </style>
</head>

<body>
    <h1>{{email}} have been successfully unsubscribed!!</h1>
</body>

</html>